{% extends "base.html" %}

{% block body_class %}resultado upload{% endblock %}

{% block content %}
<div class="centered-section">
    <div class="container">
        <!-- Row with two columns for images -->
        <div class="row">
            <!-- Column 1 (Uploaded image) -->
            <div class="column">
                <div class="circular-image">
                    <!-- Display the uploaded picture -->
                    <img src="{{ uploaded_img_url }}" alt="Humano">
                </div>
            </div>

            <!-- Column 2 (Dog image) -->
            <div class="column">
                <div class="circular-image">
                    <!-- Display the matched dog image -->
                    <img src="{{ dog_img_url }}" alt="Perro">
                </div>
            </div>
        </div>
        <!-- Dog description and adoption call-to-action -->
        <h2>¡Tu mascota ideal es {{ dog_name }}!</h2>
        <p>{{ dog_description }}</p>
        <div id="contenedoradoptalo"></div>
        <a href="perros-en-adopcion" class="galeria">Mirá todos los perros en adopción</a>
    </div>
</div>
{% endblock %}
{% block scripts_extra %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const contenedoradoptalo = document.getElementById("contenedoradoptalo");
    
        const botonadoptalo = document.createElement('a');
        botonadoptalo.href = 'contacto';
        botonadoptalo.className = 'button';
        botonadoptalo.textContent = "Adoptalo";
    
        // Inicializamos el nombre del perro utilizando el sistema de plantillas de Jinja
        const dogName = "{{ dog_name }}";
    
        // Add event listener to the link to save dog's name to local storage
        botonadoptalo.addEventListener("click", (e) => {
            localStorage.setItem("selectedDogName", dogName);
        });
    
        contenedoradoptalo.appendChild(botonadoptalo);
    });
</script>
{% endblock %}