{% extends "base.html" %}

{% block body_class %}resultado{% endblock %}

{% block content %}
<div class="centered-section">
    <div class="container">
        <!-- Row with two columns for images -->
        <div class="row">
            <!-- Column 1 (Uploaded image) -->
            <div class="column">
                <div class="circular-image">
                    <!-- Display the uploaded picture -->
                    <img src="{{ uploaded_img_url }}" alt="Humano">
                </div>
            </div>

            <!-- Column 2 (Dog image) -->
            <div class="column">
                <div class="circular-image">
                    <!-- Display the matched dog image -->
                    <img src="{{ dog_img_url }}" alt="Perro">
                </div>
            </div>
        </div>
        <!-- Dog description and adoption call-to-action -->
        <h2>¡Tu mascota ideal es {{ dog_name }}!</h2>
        <p>{{ dog_description }}</p>
        <button>Adoptalo</button>
        <a href="galeria.html" class="galeria">Mirá todos los perros en adopción</a>
    </div>
</div>
{% endblock %}