{% extends "base.html" %}

{% block body_class %}upload{% endblock %}

{% block content %}
<div class="centered-section">
    <img src="{{url_for('static', filename='images/logo.png')}}"  class="logo-inner"/>

    <!-- Botón circular con icono para cargar la imagen -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="custom-upload" id="customUploadButton">
            <!-- Icono de subida -->
            <span id="upload-icon" class="upload-icon"></span>
        </label>
        <input type="file" name="file" id="imageUpload" accept="image/*, image/heic" onchange="mostrarMiniatura(event)" style="display: none;">

        <!-- Contenedor de la miniatura -->
        <div id="miniaturaContainer">
            <h2>Subí tu foto</h2>
            <img id="miniatura" class="thumbnail" src="" alt="Miniatura de imagen" style="display: none;">
            <button type="submit" id="searchDogButton" disabled class="disabled">Buscá tu perro</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts_extra %}
<script>
    // Función para mostrar la miniatura de la imagen seleccionada
    function mostrarMiniatura(event) {
        const icono = document.getElementById("upload-icon");
        const input = event.target;
        const miniatura = document.getElementById("miniatura");
        const miniaturaContainer = document.getElementById("miniaturaContainer");
        const customUploadButton = document.getElementById("customUploadButton");
        const searchDogButton = document.getElementById('searchDogButton');

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                miniatura.src = e.target.result;
                miniaturaContainer.style.display = "block";
                customUploadButton.style.backgroundImage = `url('${e.target.result}')`;
                icono.style.display = "none";
            };

            reader.readAsDataURL(input.files[0]);
            document.querySelector("button[type='submit']").disabled = false;  // Enable the submit button
            searchDogButton.classList.remove('disabled');  // Remove the 'disabled' class
            searchDogButton.classList.add('enabled');      // Add the 'enabled' class
            searchDogButton.removeAttribute('disabled');  // Remove the 'disabled' attribute
        } else {
            miniatura.src = "";
            miniaturaContainer.style.display = "none";
            icono.style.display = "none";
            customUploadButton.style.backgroundImage = "";
            document.querySelector("button[type='submit']").disabled = true;  // Disable the submit button
            searchDogButton.classList.remove('enabled');   // Remove the 'enabled' class
            searchDogButton.classList.add('disabled');     // Add the 'disabled' class
            searchDogButton.setAttribute('disabled', '');  // Add the 'disabled' attribute
        }
    }
    function showLoader() {
        const loader = document.getElementById('loader');
        loader.style.display = '';
    }
    document.getElementById('searchDogButton').addEventListener('click', showLoader);
</script>
{% endblock %}